{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Description": "Template to deploy {{ kw['app_name'] }} in {{ kw['env'] }} ",
  "Resources": {
    "lc{{ kw['env'] }}{{ kw['app_name'] }}": {
      "Type" : "AWS::AutoScaling::LaunchConfiguration",
      "Properties": {
        "AssociatePublicIpAddress": true,
        "BlockDeviceMappings": [ { "DeviceName": "/dev/sda1", "Ebs": { "VolumeSize": "{{ kw['ebs_size'] }}", "VolumeType": "{{ kw['ebs_type'] }}", "Iops": "{{ kw['ebs_iops'] }}", "DeleteOnTermination": "{{ kw['ebs_delete'] }}"   } } ],
        "IamInstanceProfile": "{{ kw['instance_profile'] }}",
        "ImageId": "{{ kw['ami'] }}",
        "InstanceType": "{{ kw['instance_type'] }}",
        "KeyName": "{{ kw['key_name'] }}",
        "LaunchConfigurationName": "lc-{{ kw['env'] }}-{{ kw['app_name'] }}-{{ kw['current_timestamp'] }}",
        "SecurityGroups": {{ kw['sg'] }},
        "UserData": "{{ kw['user_data'] }}"
      }
    },

    "asg{{ kw['env'] }}{{ kw['app_name'] }}": {
      "Type": "AWS::AutoScaling::AutoScalingGroup",
      "DependsOn": [ "lc{{ kw['env'] }}{{ kw['app_name'] }}" ],
      "Properties": {
        "AutoScalingGroupName": "asg-{{ kw['env'] }}-{{ kw['app_name'] }}-{{ kw['current_timestamp'] }}",
        "AvailabilityZones": {{ kw['azs'] }},
        "DesiredCapacity": {{ kw['asg_desired'] }},
        "LaunchConfigurationName": "lc-{{ kw['env'] }}-{{ kw['app_name'] }}-{{ kw['current_timestamp'] }}",
        "MaxSize": {{ kw['asg_max'] }},
        "MinSize": {{ kw['asg_min'] }},
        "Tags": {{ kw['asg_tags'] }}
      }

    }

  },
  "Outputs": {

  }
}